.footer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #28282b;
  height: 8vh;
  padding: 5px 20px;
  color: white;
  font-size: 1rem;
  width: 100%;
  font-family: "F77 Minecraft";
  &__item_right {
    margin-left: auto;
  }

  a {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1024px) {
    font-size: 0.7rem;
  }
}
#git-logo {
  height: 3vh;
}
#rss-logo {
  height: 5vh;
}
