.flagPole-zone {
  position: absolute;
  bottom: calc(10% + 60px);
  left: 150px;
  display: flex;
  column-gap: 50px;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    left: -35px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    pointer-events: none;
    background: #0d9300;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
.flagPole-wrapper {
  display: inline-block;
  width: 8px;
  height: 400px;
  padding: 0;
}

.flagPole {
  position: relative;
  width: 400px;
  height: 8px;
  margin: 0;
  transform-origin: 200px 200px;
  transform: rotate(-90deg);
  -webkit-appearance: none;
  border-radius: 5px;
  background: #8bd800;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    transform-origin: 24px 24px;
    transform: translate(50%, -50%) rotate(90deg);
    width: 100px;
    height: 100px;
    background: url('/src/assets/img/png/flag.png') 0 0 / contain no-repeat;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    background: url('/src/assets/img/png/pimp.png') 0 0 / contain no-repeat;
    transform-origin: 24px 24px;
    transform: translate(5px, -50%) rotate(90deg);
    top: 0;
    right: 0;
    width: 30px;
    height: 24px;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    background: url('/src/assets/img/png/rock.png') 0 0 / contain no-repeat;
    transform-origin: 60px 60px;
    transform: translate(-150%, -50%) rotate(90deg);
    top: 0;
    left: -5px;
    width: 74px;
    height: 60px;
    z-index: 1;
  }
}
