.audio-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;

  .audio-game__answers {
    margin: 20px;
  }
}

.questionField {
  height: 400px;
}

.questionField__upperContent {
  width: 100%;

  .questionField__image {
    display: block;
    transform: scale(0);
    width: 390px;
    height: 260px;
    // padding-bottom: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;

    &.show {
      transform: scale(1);
    }
  }
}

.questionField__lowerContent {
  display: flex;
  width: 50%;
  align-items: center;
  column-gap: 20px;
  margin: 0 auto;

  .questionField__audio-wrapper {
    flex: 0 1 50%;

    .questionField__audio {
      display: block;
      margin-left: auto;

      &.icon-button::before {
        content: '\f144';
        color: white;
        font-size: 100px;
      }
    }
  }

  .questionField__word {
    display: block;
    flex: 0 1 50%;
    color: $brand-color;
  }
}

.audio-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  .audio-answers__answer {
    cursor: pointer;

    &.correct {
      color: green;
    }
    &.wrong {
      color: red;
    }
    &.disable {
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;
    }
  }
}
