.audio-game {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url('/src/assets/img/sprintGame/gif/CoinSMW.gif') no-repeat 10px
        0 / auto 5%,
      url('/src/assets/img/sprintGame/gif/goomba.gif') no-repeat 55% 95% / auto
        9%,
      url('/src/assets/img/audioGame/sm1.jpg') no-repeat 0 0 / cover;
  }

  &__content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    padding: 15px;
  }

  &__questionsAmount {
    position: absolute;
    left: 45px;
    top: 6px;
    font-size: 1.1em;
  }

  .audio-game__answers {
    margin: 20px;
  }

  @media (max-width: 630px) {
    &__container {
      justify-content: center;
      align-items: center;
    }

    &__content {
      margin-top: 0;
      width: 100%;
      border-radius: 0;
    }
  }
}

.questionField {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  .questionField__image,
  .questionField__word {
    width: 180px;
  }

  .questionField__image {
    display: block;
    visibility: hidden;
    opacity: 0;
    height: 120px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;
  }

  .questionField__audio {
    display: block;

    &.icon-button::before {
      content: '\f144';
      color: white;
      font-size: 120px;
    }
  }
  .questionField__word {
    display: block;
    font-size: 28px;
    color: $brand-color;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
    text-align: center;
  }

  @media (max-width: 630px) {
    width: 100%;

    .questionField__image,
    .questionField__word {
      width: 40%;
    }

    .questionField__audio {
      &.icon-button::before {
        font-size: 80px;
      }
    }
  }
}

.questionField.show {
  .questionField__image {
    visibility: visible;
    opacity: 1;
  }

  .questionField__word {
    visibility: visible;
    opacity: 1;
  }
}

.audio-answers {
  display: flex;
  justify-content: center;
  align-items: center;

  .audio-answers__answer {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 18px;

    &.correct {
      color: green;
      pointer-events: none;
    }
    &.wrong {
      color: red;
      pointer-events: none;
    }
    &.disable {
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;
    }
  }

  @media (max-width: 630px) {
    flex-wrap: wrap;

    .audio-answers__answer {
      flex-basis: 40%;
      min-width: 200px;
      margin: 0 10px;
      text-align: center;
    }
  }
}

.audio__statistics {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
}
