.games {
  @include flex;
  background: black;

  &__container {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: url('/src/assets/img/gif/luigi-mario-and-luigi.gif') no-repeat
        45% 85% / auto 12%,
      url('/src/assets/img/gif/mario-dance.gif') no-repeat calc(45% + 80px) 84% /
        auto 13%,
      url('/src/assets/img/background_games_choose.jpg') no-repeat 0 0 / cover;
  }

  &__link {
    background-color: $brand-color;
    padding: 10px;
  }
}
