.home {
  position: relative;
  span {
    @include position;
  }
}

.page.home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #28282B;
}