.home {
  position: relative;
  // span {
  //   @include position;
  // }
}

.page.home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #28282B;
  font-family: 'F77 Minecraft';
  
}

.loading {
  z-index: 5;
}

// 1. Main view
// ===================================================================

.main-view-container {

  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: center;
  min-height: calc(100vh - 78px);
  width: 100%;
  font-size: 1.6rem;
  -webkit-text-stroke: 0.3px black;
  // letter-spacing: 1px;
}

.main-view-container__title {
  font-family: 'Super Mario Brothers Font';
  text-transform: uppercase;
  font-size: 2.6rem;
  -webkit-text-stroke: 4px black;
  text-shadow: 10px 10px 0 black;
  text-align: center;
  padding: 15px;
}

.main-view-container__description-wrapper {
  position: relative;
  width: 62%;
  // height: 60%;
  height: auto;
}

.description-sub-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.description-sub-wrapper_p {
  margin: 40px;
  text-align: center;
  
}

.star-img {
  width: 36px;
  height: 36px;
  margin: 2px;
}

.main-view-container__title_red {
  color: #f83838;
}

.main-view-container__title_blue {
  color: #00d8f8;
}

.main-view-container__title_yellow {
  color: #f8c828;
}

.main-view-container__title_green {
  color: #00c800;
}

.star-img {
  position: absolute;
  animation-duration: 8s;
  animation-name: move-star;
  animation-iteration-count: infinite;
}

@keyframes move-star {
  0%   {left:0px; top:0px;}
  25%  {left:calc(100% - 40px); top:0px;}
  50%  {left:calc(100% - 40px); top:calc(100% - 40px);}
  75%  {left:0px; top:calc(100% - 40px);}
  100% {left:0px; top:0px;}
}


// 2. Team
// ===================================================================

.team-container {
  max-width: 90%;
  // -webkit-text-stroke: 0.3px black;
  letter-spacing: 1px;
}

.team-container__title {
  text-align: center;
}

.team-container__members-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.member-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 15px;
  padding: 8px;
  border: 1px solid #ffdb73;
  border-radius: 5px;
  max-width: calc((100% - 40px) / 3);
  text-align: center;
}

.member-wrapper__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

img[class*="member-wrapper__avatar"] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.github-svg {
  width: 26px;
  height: 26px;
  transition: 0.5s;
}

.github-svg:hover {
  filter: invert(27%) sepia(93%) saturate(7466%) hue-rotate(357deg) brightness(104%) contrast(121%);
}

// 3. Footer
// ===================================================================

.home-footer {
  padding: 8px;
}

.home-footer__school-link {
  cursor: pointer;
  transition: 0.5s;
}

.home-footer__school-link:hover {
  background-color: #ffdb73;  
  -webkit-text-stroke: 0px black;
}

// 4. Main-view-adaptivity
// ===================================================================

.main-view-container__description-wrapper {
  width: 100%;
}

// 5. Team-adaptivity
// ===================================================================

@media (max-width: 1200px) {

  .team-container {
    max-width: 100%;
  }
  
  .team-container__members-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .member-wrapper {
    max-width: 600px;
    margin: 10px;
  }
}