.menu__modal {
  @include position;
  position: fixed;
  z-index: 5;
  display: none;
  padding: 20px;
  background-color: $brand-color;
  &.show {
    display: block;
  }
}

.menu__list {
  list-style-type: none;
  white-space: nowrap;
}

.menu__overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  &.show {
    display: block;
  }
}
